.search-bar__input {
  padding: 0.25rem;
  border: 2px solid black;
  border-radius: 8px;
  background-color: var(--secondary-color);
  min-width: 110px;
  font-size: medium;
}

.search-bar__input:focus {
  outline: 1px solid black;
}
